<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header.ejs") %>
  <body>
    <%- include("layouts/navbar.ejs") %>
    <h1>404 Page Not Found</h1>

    <%- include("layouts/footer.ejs") %>
    <!-- Scripts -->
    <%- include("layouts/scripts.ejs") %>
  </body>
</html>
